<a style="margin-right: 50px;" routerLink="/employees">Employee List</a>
<a routerLink="/addEmployee">Add Employee</a>
<div  style="margin-bottom:50px" class="filter-section">
<label>Filter By:</label>
<form>
<input style="display:block" type="text" id="filter" name="filter" [(ngModel)]= "filter" (keyup)="applyFilter()">

</form>
</div>

<label>Total Number of Employees: </label>
<label id="count">{{empLength}}</label>
<table class="table-section">
  <th>Emp Id</th>
  <th>Name</th>
  <th>Location</th>
  <th>Email</th>
  <th>Mobile</th>  
  <th>Edit</th>  
  <th>Delete</th>
  <tr *ngFor="let emp of employees;let i= index">
    <td><a [routerLink]="['/details',emp.id]">{{emp.id}}</a></td>
    <td id="name{{i+1}}">{{emp.name}}</td>
    <td id="loc{{i+1}}">{{emp.location}}</td>
    <td id="email{{i+1}}">{{emp.email}}</td>
    <td id="mob{{i+1}}">{{emp.mobile}}</td>
    <td><button (click)="edit(emp.id)">Edit{{emp.id}}</button></td>
    <td><button (click)="deleteById(emp.id)">Delete{{emp.id}}</button></td>
  </tr>    
  </table>