<a style="margin-right: 50px;" routerLink="/employees">Employee List</a>
<a routerLink="/addEmployee">Add Employee</a>

<h3>Employee Details</h3>
<table style="margin-bottom:20px;margin-left:20px">
  <tr>
    <td><label>Id:</label></td>
    <td><label id="id">{{employee.id}}</label></td>
  </tr>
  <tr>
    <td><label>Name:</label></td>
    <td><label id="name">{{employee.name}}</label></td>
  </tr>
  <tr>
    <td><label>Location:</label></td>
    <td><label id="location">{{employee.location}}</label></td>
  </tr>
  <tr>
    <td><label>Email:</label></td>
    <td><label id="email">{{employee.email}}</label></td>
  </tr>
  <tr>
    <td><label>Mobile</label></td>
    <td><label id="mobile">{{employee.mobile}}</label></td>
  </tr>
</table>
<button name="back" id="back" (click)="routingTo()">Back</button>
