
form{
    
    padding:10px;
    margin-top: 100px;
}
.edit input{
    margin-bottom:10px; 
}

button {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    margin-left: 100px;
    margin-top:10px;
    border-radius: 12px;
  }