<a style="margin-right: 50px;" routerLink="/employees">Employee List</a>
<a routerLink="/addEmployee">Add Employee</a>


<form class="edit"  #addForm="ngForm">
  <h3>Add Employee</h3>
  <table>
    <tr>
      <td><label>Name:</label></td>
      <td><input type="text" name ="name" id="name" [(ngModel)]="name"   pattern="[A-Za-z]+" minlength="3" required="required"></td>

    </tr>
    <tr>
      <td><label>Location:</label></td>
      <td><input type="text"  name ="location" id="location" minlength="3" pattern="[A-Za-z]+" [(ngModel)]="location" list="location-list" required></td>

    </tr>
    <tr>
      <td><label>Email:</label></td>
      <td><input type="email" id="email" name="email"  pattern="[a-zA-Z0-9_\-\.]+@[a-zA-Z0-9_\-\.]+\.[a-zA-Z]{2,5}" [(ngModel)]="email" required></td>
    </tr>
    <tr>
      <td><label>Mobile:</label></td>
      <td><input type="text" id="mobile" pattern="[0-9]{10}" name ="mobile" [(ngModel)]="mobile" required></td>
    </tr>
 
  </table>
  <button [disabled]="addForm.invalid" id="add" (click)="!addForm.invalid && save()">Submit</button>
      <datalist id="location-list">
      <option value="Bangalore">
      <option value="Chennai">
      <option value="Pune">
      <option value="Hyderabad">
      </datalist>
</form>
